body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.featurette-divider {
	margin: 80px 0;
}
.featurette {
	overflow: hidden; 
}

.featurette-heading {
	font-size: 50px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.featurette-divider {margin: 50px 0;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {

.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.featurette-divider {margin: 20px 0;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}

}