.special {
  text-align: center;
}
.super-awesome {
  display: block;
  margin-top: -15px;
  color: #7f7f7f;
  font-size: 20em;
}

#chart {
  /*font: 10px sans-serif;*/
  font: 9px sans-serif;
  color: #121401;
}

.axis path,
.axis line {
  /*stroke: #000;*/
  fill: none;
  shape-rendering: crispEdges;
  stroke: #121401;
  stroke-width: 2px;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.arc path {
  stroke: #fff;
}

.pie-text {
  color: white;
  font-size:8pt
}